.v-modal {
    background-color: #0b0b0c;
    height: 100vh;

    &__head {
        display: flex;
        justify-content: flex-end;

        &-button {
            cursor: pointer;
            margin-top: 20px;
            margin-right: 20px;
        }
    }
    &-item {
        position:absolute;
        top: 25%;
        left: 25%;
        width: 50%;
    }


}